<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Domain</key>
	<string>dev-3eax6pwt3vs462vw.au.auth0.com</string>
	<key>ClientId</key>
	<string>rU0aEBEUDeuBL3evFet3tHuOpktkEdM8</string>
</dict>
</plist>
